# Database — SQLite pour dev local, PostgreSQL pour production
DATABASE_URL=sqlite:///./laboratoire.db
# DATABASE_URL=postgresql://user:password@localhost:5432/laboratoire_db
SQLALCHEMY_ECHO=False

# JWT
SECRET_KEY=your-super-secret-key-change-this-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# API
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=True
CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]

# Fichiers
UPLOAD_DIR=./uploads
PDF_DIR=./pdfs

# Logs
LOG_LEVEL=INFO
